@import '~bourbon/app/assets/stylesheets/_bourbon';
@import 'mixins';
@import 'font';

@import url('https://fonts.googleapis.com/css?family=Delius');

$noteWidth: 500px;
html, body{
  min-height: 100%;
}
body{
  font-family: 'Delius', cursive;
  font-size: 16px;
  background-color: rgba(25,25,25,1);
  text-shadow: 0px 0px 3px rgba(0,0,0,.2);
  @include background-image(linear-gradient(top, rgba(102,102,102,1) 0%, rgba(25,25,25,1) 100%));
}


.note{
  background-color: #f7f7f7;
  color: #333333;
  text-align: center;

  padding: 15px;

  a{color: #000}

  .icon-wrapper{
    text-align: center;
    margin-top: 10px;
    a.link-icon{
      text-decoration: none;
      font-size: 3rem;
      display: inline-block;
      padding: 16px;
      color: #000;
      opacity: .6;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;


      &:hover{
        opacity: 1;
      }
    }
  }


  &--main{
    width: $noteWidth;
    height: 540px;
    margin-bottom: 10px;
    margin: auto;
    background: url('./assets/images/note_paper_bg_rotate4.png') no-repeat top center;
    padding-top: 160px;

    .content{
      transform: rotate(-3deg);
    }

    .wrapper-selection {
      position: relative;
      width: 300px;
      margin: auto;
      height: 100px;

      .selections {
        position: absolute;
        z-index: 1;
        width: 100%;
        a {
          display: inline-block;
          padding: 20px;
          font-size: 1.4rem;
        }

        .background {
          position: absolute;
          left: 100px;
          z-index: 0;
          width: 300px;

          &.One {
            stroke-dasharray: 510;
            animation: longwrite1 2.6s linear;
          }
          &.Two {
            stroke-dasharray: 600;
            animation: longwrite2 2.6s linear;
          }
        }

      }
    }
  }

  &--recruiters{
    position: absolute;
    width: 260px;
    background: url('./assets/images/sticky-note.png') no-repeat top left;
    top: 470px;
    left: 50%;
    height: 280px;
    text-align: left;
    padding: 40px;
    transform: rotate(10deg);
    .content{
      transform: rotate(-8deg);
    }
  }


  &--friends{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 470px;
    left: 30%;
    transform: rotate(5deg);
    background: url('./assets/images/polaroidframe-white_thumb4.png') no-repeat top left;

    .content{
      position: absolute;
      bottom: 10px;
      right: 80px;
      .link-icon{
        vertical-align: -webkit-baseline-middle;
      }
    }
    img{
      clip: rect(40px, 204px, 243px, 0px);
      width: 204px;
      left: 27px;
      position: absolute;
      top: -7px;
    }
  }


}



@keyframes longwrite1 {
  0% { opacity: 0; stroke-dasharray: 60 500; }
  0.1%{ opacity: 1; }
  20% { stroke-dasharray: 500 60; }
}
@keyframes longwrite2 {
  0%{ opacity: 0; stroke-dasharray: 30 600; }
  0.1% { opacity: 1; }
  20% {	stroke-dasharray: 600 30; }
}

