@import '~bourbon/app/assets/stylesheets/_bourbon';
@import 'mixins';

@import url('https://fonts.googleapis.com/css?family=Delius');

$noteWidth: 500px;
html, body{
  min-height: 100%;
}
body{
  font-family: 'Delius', cursive;
  font-size: 16px;
  background-color: rgba(25,25,25,1);
  @include background-image(linear-gradient(top, rgba(102,102,102,1) 0%, rgba(25,25,25,1) 100%));
}


.note{
  background-color: #f7f7f7;
  color: #333333;
  text-align: center;

  padding: 15px;

  a{color: #000}

  &--main{
    width: $noteWidth;
    height: 540px;
    margin-bottom: 10px;
    margin: auto;
    background: url('./assets/images/note_paper_bg_rotate4.png') no-repeat top center;
    padding-top: 160px;

    .content{
      transform: rotate(-3deg);
    }
  }

  &--recruiters{
    position: absolute;
    width: 280px;
    background: url('./assets/images/sticky-note.png') no-repeat top left;
    top: 470px;
    left: 50%;
    height: 280px;
    text-align: left;
    padding: 40px 30px;

    .content{
      transform: rotate(-8deg);
    }
  }


  &--friends{
    width: 960px;
    height: 600px;
    margin: -260px auto 0;
    background: url('./assets/images/blank-photo-frames-2023679_960_720.png') no-repeat top left;
  }


}
