<div class="content">
<h4>I am a Full-stack Designer
  focusing on front-end development and UX design,
with a great passion of building world-class applications.</h4>
I am currently open for new job opportunities.
  <div class="icon-wrapper">


  <a href="mailto: me@jerrieyang.com" class="link-icon" title="Download Resume"><span class="icon icon-file-text"></span></a>
  <a href="https://www.linkedin.com/in/jerrie-yang-5b0a6a14/" target="_blank" class="link-icon" title="LinkedIn"><span class="icon icon-linkedin-alt"></span></a>
  </div>
</div>

